.mainDiv {
  background-color: rgba(146, 145, 145, 0.192);
  height: 100vh!important;
  margin:0;
}

.error-template {
  text-align: center;
  margin-top:6%;
}

.oops {
  font-size: 71px;
  font-weight: 500;
}

.m {
  font-size: 159px;
  font-weight: 700;
}

.s {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: red;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  }

.s:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px) !important;
}
