<app-navbar></app-navbar>
<div class="row mainDiv">
  <div class="col-md-12">
      <div class="error-template">
        <div class="oops" > Oops!</div>
        <div class="m" >
         <span >4</span><i class="far fa-times-circle" style="color:red"></i><span>4</span>
        </div>
        <div>Page Not Found</div>
        <div class="error-details">
          Sorry, an error has occured, Requested page not found!
        </div>
        <br>
        <br>
        <div class="error-actions">
          <a [routerLink]="'/home'" class="s btn-lg" style="border-radius: 30px;"><span class="glyphicon glyphicon-home"></span>
            Take Me Home </a>
        </div>
      </div>
  </div>
</div>

